---
import Layout from '../../layouts/Layout.astro';
import PaymentConfirmation from '../../components/payment/PaymentConfirmation.astro';
---

<Layout title="Confirmación de Pago">
  <div class="pt-24 pb-12">
    <div class="container mx-auto px-4">
      <PaymentConfirmation />
    </div>
  </div>
</Layout>