---
import Layout from '../../layouts/Layout.astro';
import ProductGrid from '../../components/gallery/ProductGrid.astro';
import ThemeToggle from '../../components/ThemeToggle.astro';
import ProductList from '../../components/ProductList.jsx';
---

<Layout title="Galería">

  <div class="pt-24 pb-12">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold mb-8" data-aos="fade-right">GALERÍA</h1>
      <ProductGrid />
    </div>
  </div>
</Layout>