---
import React from 'react';
import Layout from '../../layouts/Layout.astro';
import PaymentInfo from '../../components/payment/PaymentInfo.jsx';
---

<Layout title="Información de Pago">
  <div class="pt-24 pb-12">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold mb-8" data-aos="fade-right">INFORMACIÓN DE PAGO</h1>
      <PaymentInfo />
    </div>
  </div>
</Layout>