---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../components/ProductCard.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import { products } from '../data/products';

const featuredProducts = [
  {
    id: 1,
    name: 'Chaqueta Oversized',
    price: 89.99,
    image: '../products/Monitos-Back.jpg'
  },
  {
    id: 2,
    name: 'Pantalón Cargo',
    price: 69.99,
    image: '../products/remera gatitoantipoli.jpg',
  },
  {
    id: 3,
    name: 'Camiseta Gráfica',
    price: 39.99,
    image: '../products/SUMO-BACK.jpg',
  },
];
---

<Layout title="Inicio">
  <section class="flex flex-col items-center justify-center relative overflow-hidden">
    <div class="absolutebg-gradient-to-b from-kaya-dark/50 to-kaya-dark">
    <div class="flex-start pl-10 py:10 pt-10 mt-10">
      <ThemeToggle />
    <div class="container mx-auto px-4 z-10 text-center" data-aos="fade-up">
    <img src="src/images/Kaya-Indumentaria-inicio.svg" width="1920" height="1281" class="block mx-auto mt-8" >
    <div class="absolute bg-gradient-to-b from-kaya-dark/50 to-kaya-dark content-normal">
  </div>
  </section>
  <section class="featured-products">
    <div class="container mx-auto px-4 mt-8">
      <h2 class="text-4xl font-bold mb-12" data-aos="fade-right">DESTACADOS</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {featuredProducts.map(product => (
          <div data-aos="fade-up">
            <ProductCard {...product} />
          </div>
        ))}
      </div>
    </div>
  </section>
  <div class="container mx-auto px-4 z-10 text-center" data-aos="fade-up">
    <a href="/galeria" class="brutalist-border px-8 py-4 text-xl inline-block mt-2">
      EXPLORAR COLECCIÓN
    </a>
  </div>
</Layout>
<style>
  .hero {
    background-size: cover;
    background-position: flex;
  }
  img{
          background-color: var(--bg-color);
          color: var(--text-color)
        }


  </style>

