---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/forms/RegisterForm.astro';
---

<Layout title="Registro">
  <div class="pt-24 pb-12">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold mb-8" data-aos="fade-right">REGISTRO</h1>
      <RegisterForm />
    </div>
  </div>
</Layout>