<script>
  const toggleTheme = () => {
    const body = document.body;
    const isLightMode = body.style.backgroundColor === 'white';

    // Cambiar los estilos según el modo actual
    body.style.backgroundColor = isLightMode ? 'black' : 'white';
    body.style.color = isLightMode ? 'white' : 'black';
  };

  // Agregar el evento de clic al botón cuando el componente se cargue
  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('theme-toggle-button').addEventListener('click', toggleTheme);
  });
</script>

<button
  id="theme-toggle-button"
  class="px-4 py-2 rounded bg-black text-white hover:bg-white hover:text-black text-sm uppercase"
>
  Cambiar Tema
</button>

