---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import 'aos/dist/aos.css';
import ThemeToggle from '../components/ThemeToggle.astro';
import tailwindConfig from '../../tailwind.config.mjs';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kaya Indumentaria - Vanguardia en estilo" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="../images/kaya-ind-favicon.jpg" />
    <title>Kaya Indumentaria | {title} </title>
  </head>
  <body class="bg-kaya-dark text-kaya-light min-h-screen" style="background-color: white; color: black;">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  import AOS from 'aos';
  AOS.init({
    duration: 800,
    once: true,
  });
</script>

<style is:global>
  @font-face {
    font-family:"Konstant Grotesk Neue" ;
    src: url(/fonts/NeueKonstantGrotesk-Book.otf) format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: normal;
  }
  body {
    font-family: "Konstant Grotesk Neue", serif;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s;
    background-size: cover;
    background-position: center;
    position: relative;

  }
  * {
    margin: 1;
    padding: 1;
  }

  .brutalist-border {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid #201f1f;
    transition: all 0.3s ease;
  }

  .brutalist-border:hover {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0 rgb(165, 3, 3);
  }

  .form-input {
    border: 2px solid #131313;
    transition: all 0.3s ease;
    background-color: rgb(240, 240, 240);
  }  .form-input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0 #ad1313;
  }
  :root {
  --bg-color: #f4f4f4;
  --text-color: #000000;

}

