---
import '@fontsource/space-grotesk';
import '@fontsource/space-mono';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import 'aos/dist/aos.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kaya Indumentaria - Moda Brutalista" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | Kaya Indumentaria</title>
  </head>
  <body class="bg-kaya-dark text-kaya-light min-h-screen">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  import AOS from 'aos';
  AOS.init({
    duration: 800,
    once: true,
  });
</script>

<style is:global>

    @font-face {
      font-family:"Konstant Grotesk Neue" ;
      src: url(/public/fonts/NeueKonstantGrotesk-Book.otf) format('truetype');
      font-style: normal;
      font-display: swap;
      font-weight: normal;
    }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Konstant Grotesk Neue", serif;
    overflow-x: hidden;
  }

  .brutalist-border {
    border: 2px solid #201f1f;
    transition: all 0.3s ease;
  }

  .brutalist-border:hover {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0 #292929;
  }

  .form-input {
    border: 2px solid #131313;
    transition: all 0.3s ease;
    background-color: rgb(207, 207, 207);
  }  .form-input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0 #292929;
  }
